body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

header .header-content {
    background-color: #555;
    padding: 10px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10x;
    display: block;
}

.main-content-area {
    display: flex;
    flex: 1;
    background-color: #f0f0f0;
}

main {
    flex: 3;
    padding: 20px;
    background-color: #ccc;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #999;
}

.main-content, .aside-content, .footer-content {
    padding: 10px;
    background-color: #777;
    color: white;
}